{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
       <a href="" class="btn btn-outline-secondary btn-sm">Download as CSV</a>
    </div>
</div>

<h2>My Salaries</h2>
<div class="row">
    <div class="col-md-10">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'salary' %}">Salaries</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Salaries</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-2">
        <a href="{% url 'add-salary' %}" class="btn btn-outline-primary btn-sm mb-3">Add Salary</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Description</th>
                <th>Source</th>
                <th>Salary Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for salary in page_obj %}
            <tr>
                <td>{{salary.amount}}</td>
                <td>{{salary.description}}</td>
                <td>{{salary.category}}</td>
                <td>{{salary.date}}</td>
                <td><a href="{% url 'salary-edit' salary.id %}" class="btn btn-secondary btn-sm">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}